@import url(https://fonts.googleapis.com/css?family=Nunito);
.area--header {
  display: flex;
  max-height: 75px;
  background-color: #333;
}
.area--header .region--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}
.area--header .region--header .logo img {
  height: 60px;
}
.area--header .region--header .search {
  width: 60%;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.area--header .region--header .search .site-search {
  width: 90%;
}
.area--header .region--header .login--link a {
  color: #fff;
}

.menu.menu--navigation a {
  color: #333;
}

.headline {
  min-height: 200px;
  background-color: pink;
}
.headline .title {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  padding: 20px 0px;
}
.headline .bubbles {
  height: 85px;
}
.headline .bubbles li {
  padding: 20px 30px;
}
.headline .bubbles li a {
  text-align: center;
}
.headline .bubbles li a img {
  width: 120px;
  height: 120px;
  -webkit-clip-path: circle();
          clip-path: circle();
  -o-object-fit: contain;
     object-fit: contain;
}
.headline .bubbles li a .text {
  padding: 10px 0px;
  color: #333;
}

.featured {
  max-width: 1340px;
  margin: 120px auto 0;
}
.featured .title {
  padding: 20px 0;
  font-size: 2rem;
  text-overflow: ellipsis;
}
.featured .grid--view {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.featured .grid--view .grid--item {
  min-width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.featured .grid--view .grid--item .infos .description {
  /* Ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.discover {
  max-width: 1340px;
  margin: 100px auto;
}
.discover .title {
  font-size: 2rem;
}

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  padding: 20px;
}

a {
  text-decoration: none;
}
